@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

/*________________________________________________________________________________________*/

.contenedorgeneral{
	display: flex;
	justify-content: space-between;
	width: 90vw;
	margin-left: 5vw;
	margin-top: 10vh;
	border:1px solid black;
	overflow: hidden;
}

.verticalcontainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	margin-top: 5vh;
	margin-bottom: 5vh;
	border:1px solid black;
	background-color: rgba(200,200,250,0.8);
	border: none;
	border-radius: 25px;
	box-shadow: 0 0 10px black;
	overflow: hidden;
	padding-bottom: 30px;
}
.switcher{
	display: flex;
	width: 80%;
	/*border: 1px solid black;*/
	justify-content: space-between;
	align-items: center;
}
.cambio{
	font-weight: bold;
	font-size: 1rem;
	margin-top: 60%;
	padding: 16px 16px;
	border-radius: 10px;
	border: none;
	box-shadow: 0 2px 6px black;
	cursor: pointer;
	color: white;
	background-color: var(--myBlue);
	transition: all .4s;
}
.cambio:hover{
	box-shadow: none;
	opacity: .8;
}
.presentacion{
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: auto;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
	/*flex-wrap: wrap;*/
}
.logosection{
	display: flex;
	justify-content: center;
	width: 40%;
	height: 100%;
}
.header_logo{
	width: auto;
	height: 30vh;
}

.basico{
	display: flex;
	flex-direction: column;	
	width: 50%;
	height: auto;
	justify-content:center;
	padding: 15px;
}
.basico p{
	font-family: "Arial",sans-serif;
	font-size: 1.5rem;
	text-align: left;
}
.basico h2{
	font-weight: bold;
	font-size: 2rem;
}
.unidades{
	display: flex;
	justify-content: space-between;
	width: 80%;
	border-bottom: 1px solid gray;
	height: auto;
	padding: 15px;
	flex-wrap: wrap;
}
.unidadiv:hover{
	opacity: .7;
}
.unidadiv{
	display: flex;
	padding-right: 10px;
	padding-left: 10px;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all .8s;
}
.unidad:hover{
	/*box-shadow: none;*/
	width: 23vh;
	height: 23vh;
}
.unidad{
	display: flex;
	width: 20vh;
	height: 20vh;
	text-align:center;
	align-items: center;
	flex-direction: column;
	border-radius: 50%;
	box-shadow: 0 0 16px black;
	transition: .4s;
}
.unidadiv p{
	font-family: "Odibee Sans", sans-serif;
	text-align: center;
	color: white;
	font-size: 3rem;
	padding: 20px 0 0 0;
}

/*titulo del body de la página*/
.title{
	font-family: "Odibee Sans",sans-serif;
	color: white;
	font-size: 6rem;
	font-weight: bold;
	padding: 10px 0;
}

/*Parrafos de la historia*/
.historia{
	font-family: "Tenali Ramakrishna",sans-serif;
	color: rgb(52,52,52);
	padding: 20px 35px;
	width: 80%;
	border-bottom: 1px solid gray;
}
/*títulos en la  historia*/
.historia h2{
	font-family: "Odibee Sans", sans-serif;
	text-align: center;
	color: white;
	font-size: 3rem;
	padding: 20px 0 0 0;
}
/*subtítulos en la  historia*/
.historia h3{
	font-family: "Odibee Sans", sans-serif;
	font-size: 2rem;
	padding: 20px 0 0 0;
}

/*Párrafos en la historia*/
.historia p{
	font-weight: bold;
	font-size: 1.4rem;
	text-align: justify;
	margin-top: 20px;
}
ol li{
	font-weight: bold;
	font-size: 1.25rem;
}

.patronoracion{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 1.4rem;
	text-align:center;
	padding: 20px 0;
	width: 80%;
}
.patrono{
	width: 40%;
	overflow: hidden;
	text-align:center;
	padding: 0 8% 0 8%;
}
.patronoimg{
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.oracion{
	width: 50%;
}
.oracion h2{
	padding-bottom: 20px;
}
.oracion p{
	text-align: center;
}

.himno{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.4rem;
	text-align:center;
	padding: 20px 0;
	width: 100%;
	font-family: "Piedra",sans-serif;
	color: rgb(50,20,20);
	background-image: url("../img/pergaminohimno.jpg");
	background-size: cover;
	border-radius: 15px;
	/*flex-wrap: wrap;*/
}

.button{
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 5px;
	background-color: var(--myDarkBeige);
	box-shadow: 0 2px 6px black;
	font-weight: bold;
	cursor: pointer;
	margin: 15px;
}

/*el responsive*/
@media only screen and (max-width: 600px){
	nav {
		display: flex;
		justify-content: space-between;
		width: 100vw;
	}

	nav ul{
		list-style: none;
		padding: 0;
	}
	nav li{
		line-height: 2.7rem;
		position: relative;
		border-left: 0.2px solid black;
	}
	nav li ul{position: absolute;}
	nav a{
		text-decoration: none;
		color:rgb(0,0,0);
		background-color: rgba(255,255,255,0.6);
		font-weight: bold;
		border-radius: 5px 5px 0 0;
		font-size: 0.8rem;
		font-family: "Tenali Ramakrishna",sans-serif;
		display: flex;
		padding: 0 1.7rem;
		filter: grayscale(0%) opacity(0.7);
		transition: .3s;
	}
	nav a:hover{
		background-color: var(--myDarkBeige);
	}
	nav > ul{
		background-color: var(--myBeige);
		display: table;
		width: 100%;
	}
	nav > ul > li{float: right;}
	nav li:click >ul> li{
		max-height: 500px;
		overflow: visible;
		border-bottom: 0.2px solid black;
	}

	/*Estilos 2nd level from Nav*/

	nav li li{
		background-color: var(--myDarkBeige);
		width: auto;
		transition: all .5s;
		max-height: 0;
		overflow: hidden;
	}
	nav > ul > li > ul{top: 100%;}

	/*Estilos 3rd level from nav*/

	nav > ul > li > ul > li > ul{
		right: 100%;
		top: 0%;
}

@media only screen and (max-width: 430px){
	nav {
		display: flex;
		justify-content: space-between;
		width: 100vw;
	}

	nav ul{
		list-style: none;
		padding: 0;
	}
	nav li{
		line-height: 2.7rem;
		position: relative;
		border-left: 0.2px solid black;
	}
	nav li ul{position: absolute;}
	nav a{
		text-decoration: none;
		color:rgb(0,0,0);
		background-color: rgba(255,255,255,0.6);
		font-weight: bold;
		border-radius: 5px 5px 0 0;
		font-size: 0.7rem;
		font-family: "Tenali Ramakrishna",sans-serif;
		display: flex;
		padding: 0 1.5rem;
		transition: .3s;
	}
	nav a:hover{
		background-color: var(--myDarkBeige)
	}
	nav > ul{
		background-color: var(--myBeige);
		display: table;
		width: 100%;
	}
	nav > ul > li{float: right;}
	nav li:click >ul> li{
		max-height: 500px;
		overflow: visible;
		border-bottom: 0.2px solid black;
		background-color: var(--myDarkBeige);
	}

	/*Estilos 2nd level from Nav*/

	nav li li{
		background-color: var(--myBeige);
		width: auto;
		transition: all .5s;
		max-height: 0;
		overflow: hidden;
	}
	nav > ul > li > ul{top: 100%;}

	/*Estilos 3rd level from nav*/

	nav > ul > li > ul > li > ul{
		right: 100%;
		top: 0%;
	}
}