*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	/*rem*/
	font-size: 15px;
	/*Paleta de colores*/
	--myYellow:rgb(255,212,4);
	--myDarkGreen:rgb(0,57,0);
	--myBeige: rgb(255,230,105);
	--myDarkBeige: rgb(205,180,55);
	--myBlue:rgb(17,30,108);
	--navbar:rgb(15,82,186);
	--myRed:rgb(255,18,0);
}
body{
	background-color: var(--myBlue);
}

body::-webkit-scrollbar{
	width: 0.5rem;
	height: 0.5rem;
	transition: .4s;
}
body::-webkit-scrollbar-thumb:hover{
	background-color: rgba(255,255,255,1);
}
body::-webkit-scrollbar-track{
	background-color: rgba(0,0,0,0.5);
	border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb{
	background-color: rgba(255,255,255,0.7);
	border-radius: 0.5rem;
}
/*Computadores*/
@media only screen and (min-width: 900px){
	/*NAVBAR*/
		/*Estilos Generales del Nav*/
		nav {
			display: flex;
			justify-content: space-between;
			width: 100vw;
		}

		nav ul{
			list-style: none;
			padding: 0;
		}
		nav li{
			line-height: 3rem;
			position: relative;
			border-left: 0.2px solid black;
		}
		nav li ul{position: absolute;}
		nav a{
			text-decoration: none;
			color:rgb(0,0,0);
			font-weight: bold;
			font-size: 1rem;
			font-family: "Tenali Ramakrishna",sans-serif;
			display: flex;
			padding: 0 2.5rem;
			transition: .3s;
		}
		nav a:hover{
			background-color: var(--myDarkBeige);
		}
		nav > ul{
			background-color: var(--myBeige);
			display: table;
			width: 100%;
		}
		nav > ul > li{float: right;}
		nav li:hover >ul> li{
			max-height: 500px;
			overflow: visible;
			border-bottom: 0.2px solid black;
		}

		/*Estilos 2nd level from Nav*/

		nav li li{
			background-color: var(--myBeige);
			width: auto;
			transition: all .5s;
			max-height: 0;
			overflow: hidden;
		}
		nav > ul > li > ul{top: 100%;}

		/*Estilos 3rd level from nav*/

		nav > ul > li > ul > li > ul{
			right: 100%;
			top: 0%;
		}
	/*Fin Navbar*/
	/*Decoración lateral con flor de lis y nudo ocho*/
		.flordelis{
			align-content: center;
			height: auto;
			padding: 10px;
			overflow:hidden;
		}

		.flor{
			width: 5vw;
			height: 5vw;
		}

		.nudo{
			background-image: URL("../img/nudoochociclo.png");
			width: 100%;
			height: 100%;
			background-size: 40%;
			background-position: center;
			background-position: top;
			background-repeat: repeat-y;
		}
	/*fin decoración*/

	#scrolltop{
		transition: all .5s;
		opacity: 0;
		position: fixed;
		bottom: 15px;
		right: 15px;
		height: 50px;
		width: 50px;
		border: none;
		border-radius: 50%;
		font-size: 4rem;
		font-weight: bold;
		background-color: var(--myDarkBeige);
		box-shadow: 0 2px 6px black;
		cursor: pointer;
		text-align: center;
		overflow: hidden;
	}
	#scrolltop:hover{
		height: 70px;
		width: 70px;
	}
	.titulomayor{
		font-size: 4rem;
		font-family: "Odibee Sans",sans-serif;
		color: rgba(189,151,27,0.8);
		text-shadow: 5px 5px 6px rgb(0,0,0);
		padding-top: 40px;
	}

	.subtitulomayor{
		font-size: 2rem;
		font-family: "Odibee Sans",sans-serif;
		color: rgba(0,0,55,1);
	}
	/*Footer*/
		footer{
			color: white;
			background: linear-gradient(to bottom, rgba(50,50,50,0.5),rgba(25,25,25,0.5));
			font-family: "Tenali Ramakrishna", sans-serif;
			margin-top: 30px;
		}
		.containerfooter{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100vw;
			height: 300px;
		}

		.redes{
			display: flex;
			align-items: center;
		}

		.redes div{
			padding: 15px 15px;
			text-align: center;
			align-items: center;
		}

		.redes a{
			text-decoration: none;
			color: var(--myBeige);
		}

		.redes p{
			padding-top: 15px;
		}

		/*Imágenes de redes sociales*/
		.redsocial{
			width: 6vw;
			height: auto;
			transition: .4s;
			/*border-radius: 50%;*/
			/*box-shadow: 0 0 10px black;*/
		}
		.redsocial:hover{
			width: 7vw;
			height: auto;
			/*border-radius: 50%;*/
			/*box-shadow: 0 0 10px black;*/
		}

		.contactenos{
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid white;
		}

		.contact-info{
			color:white;
			text-align: center;
			padding: 20px
		}

		.contact-info p{
			text-align: center;
			font-size: 1.5rem;
		}


		.contact-info h4{
			border-bottom: 1px solid gray;
			font-size: 2rem;
			text-shadow: 1px 4px 5px black;
		}

		.autoria{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.autoria h3{
			color: rgb(80,80,80);
		}
	/*Fin Footer*/
}

/*Dispositivos Móviles*/
@media only screen and (max-width:899px){
	/*NAVBAR*/
		/*Estilos Generales del Nav*/
		nav {
			width: 100vw;
		}
		nav ul{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			list-style: none;
			padding: 0;
		}
		nav li{
			display: flex;
			justify-content: center;
			flex-direction: column;
			line-height: 2rem;
			width: 100%;
			border-bottom: 0.2px solid black;
			text-align: center;
		}
		nav a{
			text-decoration: none;
			color:rgb(0,0,0);
			font-weight: bold;
			font-size: .6rem;
			font-family: "Tenali Ramakrishna",sans-serif;
			display: flex;
			padding: 0 2.5rem;
			transition: .3s;
			width: auto;
			flex-wrap: wrap;
			text-align: center;
		}
		nav > ul{
			background-color: var(--myBeige);
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		nav li:hover >ul> li{
			max-height: 500px;
			overflow: visible;
			border-bottom: 0.2px solid black;
		}
		nav a:hover {
			background-color: rgba(255,255,255,0.2);
		}
		/*Estilos 2nd level from Nav*/
		nav li li{
			background-color: rgba(0,0,0,.2);
			width: 100%;
			border: none;
			transition: all .5s;
			max-height: 0;
			overflow: hidden;
			top:100%;
		}
		nav ul li ul{
			right: 0;
			top: 100%;
		}
	/*Fin Navbar*/
	/*Decoración lateral con flor de lis y nudo ocho*/
		.flordelis{
			/*align-content: center;
			height: auto;
			padding: 10px;*/
			width: 0;
			overflow:hidden;
		}

		.flor{
			width: 5vw;
			height: 5vw;
		}

		.nudo{
			background-image: URL("../img/nudoochociclo.png");
			width: 100%;
			height: 100%;
			background-size: 40%;
			background-position: center;
			background-position: top;
			background-repeat: repeat-y;
		}
	/*fin decoración*/

	#scrolltop{
		opacity: 0;
		position: fixed;
		bottom: 2vw;
		right: 2vh;
		height: 5vh;
		width: 5vh;
		overflow: hidden;

		border: none;
		border-radius: 50%;

		font-size: 2rem;
		font-weight: bold;
		text-align: center;

		background-color: var(--myDarkBeige);
		box-shadow: 0 1px 4px black;
		
		cursor: pointer;
		
		
		transition: all .5s;
	}
	#scrolltop:hover{
		background-color: var(--myBeige);;
	}
	.titulomayor{
		font-size: 3rem;
		font-family: "Odibee Sans",sans-serif;
		color: rgba(189,151,27,0.8);
		text-shadow: 2px 2px 4px rgb(0,0,0);
		padding-top: 20px;
	}

	.subtitulomayor{
		font-size: 1.8rem;
		font-family: "Odibee Sans",sans-serif;
		color: rgba(0,0,55,1);
	}

	/*Footer*/
		footer{
			color: white;
			background: linear-gradient(to bottom, rgba(50,50,50,0.5),rgba(25,25,25,0.5));
			font-family: "Tenali Ramakrishna", sans-serif;
			margin-top: 30px;
		}
		.containerfooter{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100vw;
			height: auto;
		}

		.redes{
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		.redes div{
			padding: 15px 15px;
			text-align: center;
			align-items: center;
		}

		.redes a{
			text-decoration: none;
			color: var(--myBeige);
		}

		.redes p{
			padding-top: 15px;
		}

		/*Imágenes de redes sociales*/
		.redsocial{
			width: 10vw;
			height: auto;
			transition: .4s;
			/*border-radius: 50%;*/
			/*box-shadow: 0 0 10px black;*/
		}
		.redsocial:hover{
			width: 7vw;
			height: auto;
			/*border-radius: 50%;*/
			/*box-shadow: 0 0 10px black;*/
		}

		.contactenos{
			display: flex;
			justify-content: center;
			flex-direction: column;
			border-bottom: 1px solid white;
		}

		.contact-info{
			color:white;
			text-align: center;
			padding: 20px
		}

		.contact-info p{
			text-align: center;
			font-size: 1rem;
		}


		.contact-info h4{
			border-bottom: 1px solid gray;
			font-size: 1.5rem;
			text-shadow: 1px 4px 5px black;
		}

		.autoria{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.autoria h3{
			color: rgb(80,80,80);
		}
	/*Fin Footer*/
}